[submodule "common"]
	path = common
	url = https://github.com/hydro-project/common
[submodule "include/prometheus-cpp"]
	path = include/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
